// linkages
%link{:rel => :stylesheet, :type => :"text/css", :href => "stylesheets/register.scss"}

%div.page-wrapper

  %div.head
  %div.header
    %h1 NajebkApp
    %h2 Sign up and get drinkin'
  %p

  %div.form-wrapper.text-center
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Your E-mail Address"
      .field
        = f.label :password
        / - if @minimum_password_length
        /   %em
        /     (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "Your password"
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password"
      %br/
      .field.upload-image
        = f.label :avatar
        = f.file_field :avatar

      %br/
      = f.submit "Sign up", class: "btn btn-success"
    = render "devise/shared/links"
