// linkages
%link{:rel => :stylesheet, :type => :"text/css", :href => "stylesheets/register.scss"}

%div.page-wrapper

  %div.head
  %div.header
    %h1 NajebkApp
    %h2 Log in and get drinkin'
  %p

  %div.form-wrapper.text-center
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Your E-mail Address"
      .field
        = f.label :password, placeholder: "Your password"
        %br/
        = f.password_field :password, autocomplete: "current-password", placeholder: "Confirm password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in"
    = render "devise/shared/links"
