- @locations.each do |location|
  %li.d-flex.justify-content-around
    = link_to location.id, location_path(location.id)  
    %p= location.name
    %p= location.location_type
    %p= location.is_przypal
    %p= location.address
